.app-container {
  background-color: #1e1e2f;
}

.bg-secondary {
  background-color: #24243e !important;
}

.bg-primary {
  background-color: #48485e !important;
}

.text-light {
  color: #fff !important;
}

.text-dark {
  color: #1e1e2f !important;
}

.list-group-item {
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #555570 !important;
}

.btn-primary {
  background-color: #ff6b6b !important;
  border-color: #ff6b6b !important;
}

.btn-secondary {
  background-color: #4ecdc4 !important;
  border-color: #4ecdc4 !important;
}

.card {
  border-color: #4ecdc4;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.fa-angle-right {
  float: right;
}

.my-custom-button {
  margin: 10px 0;
  padding: 5px 20px; 
}